@import "tailwindcss";

@font-face {
  font-family: monaco;
  src: url('./fonts/monaco.ttf');
}

@font-face {
  font-family: SpaceMono;
  src: url('./fonts/SpaceMono-Regular.ttf');
}

@font-face {
  font-family: SpaceMono-Bold;
  src: url('./fonts/SpaceMono-Bold.ttf');
}

@layer utilities {
  @keyframes shine {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(200%);
    }
  }

  .shine-overlay {
    background: linear-gradient(
      120deg,
      transparent,
      rgba(0, 189, 189, 0.6),
      transparent
    );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    z-index: 1;
  }

  .group:hover .shine-overlay {
    animation: shine 1.5s linear infinite;
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 11px; 
  
}

::-webkit-scrollbar-track {
  background: #000000; 
}

::-webkit-scrollbar-thumb {
  background-color: #6b4885;
  border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #500C80; 
  cursor: pointer;
}



* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
